<br /><br />

<!-- <button (click)="addMatch()" style="margin-left: 20px" class="btn btn-success">
  <i class="bi bi-plus-square"></i> Match
</button> -->
<br /><br />
<div class="col-md-12">
  <h2>
    2022 World Cup Fixtures
    <button
      (click)="addMatch()"
      style="margin-left: 800px"
      class="btn btn-success"
    >
      <i class="bi bi-plus-square"></i> Match
    </button>
  </h2>
  <br />
  <div class="table-responsive table-container table table-striped">
    <table class="table">
      <thead>
        <tr>
          <th>Match</th>
          <th>Team A</th>
          <th></th>
          <th>Kick Off</th>
          <th></th>
          <th>Team B</th>
          <th>Date</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches">
          <td class="hidden">{{ match.id }}</td>
          <td>{{ match.teamA }}</td>
          <td>
            <span class="pull-right">
              <img
                [src]="match.teamAURL"
                alt="{{ match.teamAURL }}"
                class="img-responsive"
                style="max-height: 50px"
              />
            </span>
          </td>
          <td>{{ match.time }}</td>
          <td>
            <span class="pull-right">
              <img
                [src]="match.teamBURL"
                alt="{{ match.teamBURL }}"
                class="img-responsive"
                style="max-height: 50px"
              />
            </span>
          </td>

          <td>{{ match.teamB }}</td>
          <td>{{ match.date }}</td>
          <td>{{ match.location }}</td>

          <td>
            <!-- delete btn -->
            <button (click)="deleteMatch(match)" class="btn btn-warning">
              <i class="bi bi-trash-fill"></i>
            </button>

            <!-- edit btn -->
            <button
              (click)="editMatch(match)"
              style="margin-left: 20px"
              class="btn btn-info text-white"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
